/* Loading.css */

.moving-image-container {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  z-index: 1000;
  animation: moveRight 4s linear infinite;
  display: flex;
  align-items: center;
}

@keyframes moveRight {
  0% {
    left: 0;
  }
  25% {
    left: 35%;
  }
  50% {
    left: 50%;
  }
  75% {
    left: 65%;
  }
  100% {
    left: 100%;
  }
}


.moving-image {
  display: block;
  min-width: 150px;
  min-height: 150px;
  width: auto;
  height: auto;
}
